<!DOCTYPE html>
{% extends 'app_five/base.html' %}
{% load static %}

{% block body_block %}

<div class="p-4 mb-3 bg-secondary bg-opacity-25">
  {% if registered %}
    <h1>Thank you for registering!</h1>
  {% else %}
    <h1>Register Here!</h1>
    <h3>Fill out the form:</h3>

    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="" value="Register">

    </form>
  {% endif %}
</div>

{% endblock %}
